<!DOCTYPE HTML>
<html>
{% include head.html %}

<body>
{% include header.html %}

<article id="main">
    <header>
        <h2>Archive of posts from {{ page.date | date: "%Y" }}</h2>
    </header>
    {% for post in site.posts %}
    <section class="spotlight">
        <div class="image">{% if post.image %}<img src="{% if site.featured-image-source %}{{ post.image | prepend: site.featured-image-source | absolute_url }}{% else %}{{ "" | absolute_url }}/assets/images/{{ post.image }}{% endif %}" alt="" />{% endif %}</div>
        <div class="content">
            <h2><a href="{{ post.url | relative_url }}" class="link">{{ post.title }}</a></h2>
            <h4 class="post-date">{{ post.content | reading_time | pluralize: "minute" }} read · {{ post.date | date: "%d-%m-%Y" }}</h4>
            <p>{{ post.description }}</p>
        </div>
    </section>
    {% endfor %}
</article>



{% include footer.html %}
</body>

</html>